:root {
    --primary-color: #011931;
    --second-color: #FEB704;
    --card-background:#1416468e;
    --font-family: sans-serif;
}

html {
    font-size: clamp(14px, 1.2vw, 18px); 
}

.scrolling-bg {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

}

body {
    background-color: #001121;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
}

main{
    padding: 2rem 3rem;
}

.logo {
    width: clamp(140px, 12vw, 220px);
}

nav {
    display: flex;
    gap: 4rem;
}

nav a {
    font-family: var(--font-family);
    color: #FFFFFF;
    font-size: 1.2rem;
}

nav .destaque {
    color: #FEB704;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.main-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: 7rem;
    

}

.text-hero h1{
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: var(--font-family);
    font-weight: 200;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.text-hero h2{
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-family: var(--font-family);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.3;
    color: #FFFFFF;
}

.comece-agora-btn{
    width: fit-content;
    height: fit-content;
    padding:1rem 2rem;
    background-color: var(--second-color);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 10rem;
}
.card {
    display: flex;
    font-family: var(--font-family);
    flex-direction: column;
    background-color: var(--card-background);
    align-items: baseline;
    width: 20rem;
    padding: 10px;
    margin-bottom: 40px;
    margin-right: 3rem;
    border-radius: 10px;
}


.card h1 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-weight: 500;
    line-height: 1.1;
    color: #FFFFFF;
    padding-left: 10px;
    
}

.card  h2 {
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    margin-top: 5px;
    margin-bottom: 2rem;
    padding-left: 10px;
    font-weight: 200;
    line-height: 1.3;
    color: #FFFFFF;
}

.card img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 10px;
}

.beneficios{
    text-align: center;
    color: #FFFFFF;
    padding-top: 20rem;
    font-family: var(--font-family);

    h1 {
        margin-bottom: 1rem;
        font-weight: 300;
    }

    h2 {
        color: #B1C0CF;
        font-weight: 300;
        margin-bottom: 3rem;

    }
}

.cards-beneficios{
 display:flex;
 justify-content: center;
 gap: 2rem;
 margin-top: 10px;
 margin-bottom: 12rem;
}

.cards-beneficios .card{
    margin-right: 0;
    text-align: left;
    border-radius: 25px;
}

.demonstracao-container{
    display:flex;
    gap: 50px;
    margin-bottom: 15rem;
}

.text-demonstracao{
    text-align:center;
    color:#FFFFFF;
    margin-bottom: 10px;

    h1 {
        font-weight: 300;
        margin-bottom: 12px;      
    }

    h2 {
        font-weight: 300;
        color: #B1C0CF;
        margin-bottom: 5rem;
}

}

.funcionalidades-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-family);
}

.funcionalidade{
    display:flex;
    color:#FFFFFF;
    gap: 20px;

    h2 {
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.funcionalidade img{
    height: 30px;
    max-width: 30px;
}

.demonstracao{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
}

.demonstracao img{
    width: 550px;
    margin-left: 3rem;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    padding: 0 3rem;
}

.text-apresentacao {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: #FFFFFF;
    justify-content: center;
    text-align: center;

    h1 {
        font-weight: normal;
        margin-bottom: 2rem;
        
    }

    h2 {
        font-weight: normal;
        color: #B1C0CF;
    }
}

.informacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.informacoes-container {
    color: #FFFFFF;
    font-family: var(--font-family);
    text-align: center;


    h1 {
        color: #FEB704;
        font-weight: 400;
        padding-bottom: 20px;

    }

    h2 {
        font-weight: 200;
    }
}

footer{
    background-color: #011931;
    padding: 4rem 3rem;
    margin-top: 5rem;
}

.footer{
    display:flex;
    align-items: top;
    justify-content: space-evenly;
}

.footer-logo p{
    width:  clamp(230px, 18vw, 280px);
     color:#B1C0CF;
    font-size: 20px;
    font-family: var(--font-family);
}

.footer-logo img{
    width: clamp(140px, 12vw, 220px);
    margin-bottom: 2rem;
}

.footer-links{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family);
}

.footer-links a, .footer-links h1{
    color:#B1C0CF;
    font-size: 20px;
    font-family: var(--font-family);
}

.footer-contact h1, .footer-contact p{
    gap: 1rem;
    font-size: 20px;
    font-family: var(--font-family);
    color:#B1C0CF;
}

.footer-social img{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.footer-social h1{
    gap: 1rem;
    font-size: 20px;
    font-family: var(--font-family);
    color:#B1C0CF;
}

@media screen and (max-width: 500px) {
    html{
        overflow-x: hidden;
    }
    
    .scrolling-bg{
        
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    header nav {
        display: none;
    }

    header{
        justify-content: center;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .main-hero {
        margin-left: 0;
        text-align: center;
    }

    .agendar-btn {
        transform: translateX(0);
    }

    .comece-agora-btn{
        margin: 2rem auto;
    }

    .card{
        margin-right: auto;
        margin-left: auto;
    }

    .cards-beneficios{
        flex-direction: column;
        align-items: left;
        margin: 0;
    }

    .beneficios{
        padding-top: 5rem;
    }

    .text-demonstracao, .demonstracao-container img{
       display: none;
    }

    .funcionalidade{
        gap: 5px;
    }

    .funcionalidade img{
        display: inherit;
        margin: 0;
    }

    .funcionalidade h2{
        font-size: 16px;
    }

    .demonstracao-container{
        align-items: center;
        gap: 0;
        margin-bottom: 2rem;
    }

    .agendar-btn{
        transform: translateX(0);
    }

    .apresentacao{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
    }

    .informacoes{
        flex-direction: column;
        gap: 2rem;
    }

    .footer{
        padding: 2rem 1rem;
        flex-direction: column;
        gap: 2rem;
    }


    
}