:root {
    --primary-color: #011931;
    --second-color: #FEB704;
    --card-background:#1416468e;
}

html {
    font-size: clamp(14px, 1.2vw, 18px); 
}

.scrolling-bg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

body {
    background-color: #001121;
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
}

main{
    padding: 2rem 3rem;
}

.logo {
    width: clamp(140px, 12vw, 220px);
}

nav {
    display: flex;
    gap: 4rem;
}

nav a {
    font-family: Khula;
    color: #FFFFFF;
    font-size: 1.2rem;
}

nav .destaque {
    color: #FEB704;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.main-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: 7rem;
    

}

.text-hero{
    
}

.text-hero h1{
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: Jockey one;
    font-weight: 200;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.text-hero h2{
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-family: Jockey one;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.3;
    color: #FFFFFF;
}

.comece-agora-btn{
    width: fit-content;
    height: fit-content;
    padding:1rem 2rem;
    background-color: var(--second-color);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}
.card {
    display: flex;
    font-family: KoHo;
    flex-direction: column;
    justify-content: end;
    background-color: var(--card-background);
    width: 20rem;
    height: 10rem;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: ;
    margin-right: 3rem;
    gap: 10px;
    border-radius: 10px;

}


.card h1 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-weight: 500;
    line-height: 1.1;
    color: #FFFFFF;
    padding-left: 4rem;
}

.card  h2 {
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    margin-top: 5px;
    margin-bottom: 2rem;
    padding-left: 4rem;
    font-weight: 200;
    line-height: 1.3;
    color: #FFFFFF;
}

.card img {
    width: 4rem;
    height: 4rem;
}

.cards-hero{
 
}
