:root {
    --primary-color: #011931;
    --second-color: #FEB704;
    --card-background:#1416468e;
}

html {
    font-size: clamp(14px, 1.2vw, 18px); 
}

body {
    background-image: url(./img/city-square.png);
    backdrop-filter: blur(4px);
    background-color: #011931;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
}

main{
    padding: 2rem 3rem;
}

.logo {
    width: clamp(140px, 12vw, 220px);
}

nav {
    display: flex;
    gap: 4rem;
}

nav a {
    font-family: Khula;
    color: #FFFFFF;
    font-size: 1.2rem;
}

nav .destaque {
    color: #FEB704;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.main-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.text-hero{
    gap: 10px;
}

.text-hero h1{
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: 200;
    line-height: 1.1;
    color: #FFFFFF;
}

.text-hero h2{
    font-size: clamp(1.5rem, 2vw, 3rem);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.3;
    color: #FFFFFF;
}

.comece-agora-btn{
    width: fit-content;
    height: fit-content;
    padding:20px 40px;
    background-color: var(--second-color);
    border: none;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--card-background);
    width: 300px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;
    border-radius: 10px;
}


.card h1{
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-weight: 300;
    line-height: 1.1;
    color: #FFFFFF;
}

.card h2{
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 200;
    line-height: 1.3;
    color: #FFFFFF;
}

.cards-hero{
 
}
