:root {
    --primary-color: #011931;
    --second-color: #FEB704;
}

html {
    font-size: clamp(14px, 1.2vw, 18px); 
}

body {
    background-image: url(./img/city-square\ 2.png);
    backdrop-filter: blur(4px);
    background-color: #011931;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
}

.logo {
    width: clamp(140px, 12vw, 220px);
}

nav {
    display: flex;
    gap: 4rem;
}

nav a {
    font-family: Khula;
    color: #FFFFFF;
    font-size: 1.2rem;
}

nav .destaque {
    color: #FEB704;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 4rem 2rem 4rem;
    align-items: center;
}

.text-hero h1{
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    font-weight: 300;
    line-height: 1.1;
    color: #FFFFFF;
}

.text-hero h2{
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.3;
    color: #FFFFFF;
}

.buttom {
    display: inline-block;
    background-color: #FEB704;
    font-family: Khula;
    color: #011931;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 15px;

}

.car{
    width: 100%;
    max-width: 380px;
    display: block;
    margin: 2rem auto;
}

footer{
    display: flex;
    justify-content: flex-end;
    padding: 0 3rem 2rem;
}